<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <%= @venue.name %>
      <small>
        <%= @venue.address %>,
        <%= @venue.neighborhood.name %>,
        <%= @venue.neighborhood.city %>
      </small>
      <div class="btn-group pull-right">
        <a href="/venues" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      Favorites
    </li>
    <% @venue.favorites.each do |favorite| %>
    <li class="list-group-item">
      <a href="/dishes/<%= favorite.dish.id %>">
        <%= favorite.dish.name %>
      </a>
      by
      <a href="/users/<%= favorite.user.id %>">
        <%= favorite.user.username %>
      </a>
    </li>
    <% end %>

    <li class="list-group-item">
      <form action="/create_favorite" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for user_id -->
        <div class="form-group">
          <label for="user_id" class="control-label">
            User
          </label>

          <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @favorite.user_id), :class => "form-control") %>
        </div>

        <!-- Label and input for dish_id -->
        <div class="form-group">
          <label for="dish_id" class="control-label">
            Dish
          </label>

          <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @favorite.dish_id), :class => "form-control") %>
        </div>

        <!-- Label and input for venue_id -->
        <input name="venue_id" type="hidden" value="<%= @venue.id %>">

        <!-- Label and input for notes -->
        <div class="form-group">
          <label for="notes" class="control-label">
            Notes
          </label>
          <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @favorite.notes %></textarea>
        </div>

        <button class="btn btn-success">
          Create Favorite
        </button>
      </form>
    </li>
  </ul>
</div>
